# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Java
*.class

# Backup files
*.swp
*.swo