<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Skillo Automation Suite">

    <listeners>
        <listener class-name="org.ivan.listeners.ScreenshotListener"/>
    </listeners>

    <test name="Skillo Tests">
        <classes>
            <class name="org.ivan.tests.LoginTests"/>
            <class name="org.ivan.tests.PostTests"/>
            <class name="org.ivan.tests.ProfileTests"/>
            <class name="org.ivan.tests.LogoutTests"/>
        </classes>
    </test>

</suite>